@import "ui-variables";

.git-control.dialog {

  .body {
    margin-bottom: 15px;
  }

  .heading {
    margin-bottom: 15px;

    strong {
      color: @text-color-highlight;
      display: inline-block;
    }

    i.icon {
      float: right;
      width: 0;
      margin-right: 15px;
    }
  }

  .input-text, .input-select, .input-textarea, .input-label {
    width: 100%;
    margin-bottom: 15px;
  }

  .input-input[readonly], .input-textarea[readonly], .input-select[disabled] {
    color: @text-color-subtle;
  }

  .input-textarea {
    height: 150px;
    resize: none;
    &.over-fifty {
      color: @text-color-error;
    }
  }

  .warningText {
    color: @text-color-warning;
    &:hover {
      color: @text-color-error;
    }
  }
}
